body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}
body{
    background-color: #FFFFFF;
    font-family: "微软雅黑";
}
a{
    color: #686868;
    text-decoration: none;
}
a:hover{
    color: green;
}
.about_top{
    width: 100%;
    height: 247px;
    margin:0 auto;
    background:url("../images/about_top.jpg") no-repeat center center;
}
.zhongjian{
    width: 1200px;
    margin:0 auto;
    font-family: "微软雅黑";
    color: #606060;
}
.zhongjian_a{
    width: 1200px;
    height: 150px;
    box-sizing: border-box;
    padding:30px 0;

}
.float_l{
    float: left;
    width: 230px;
    height: 90px;
}
.float_l .float_l1{
    float: left;
    width: 230px;
    height: 70px;
}
.float_l .float_l1 span:nth-child(1){
    display: block;
    width: 230px;
    height: 35px;
    color: #000;
    font-size:30px;
    font-weight: bolder;

}
.float_l .float_l1 span:nth-child(2){
    display: block;
    width: 230px;
    height: 35px;
    color: green;
    font-size:20px;
    line-height: 35px;
}
.li_1{
    /*display: block;*/
    float: left;
    list-style-image: url("../images/l1.png");
    margin-left:13px;
    font-size:14px;
}
.li_1 .li_a1{
    display:inline-block;
    width: 86px;
    height: 20px;
    margin-left:10px;
    border-left:1px solid #000;
    text-align: center;
    line-height: 20px;
}
.zhongjian_a .fr{
    float: right;
    width: 295px;
    height: 76px;
    background: url("../images/phone.jpg") no-repeat;
}

/*============企业简介那块div==========*/
.zhongjian .zhongjian_c{
    width: 1200px;
    height: 731px;
}
.zhongjian .zhongjian_c .content_l{
    width: 214px;
    height: 146px;
    float: left;
    background-color:#F1F1F1;
}
.zhongjian .zhongjian_c .content_l li{
    border-bottom:3px solid #cccccc;
    box-sizing: border-box;
    display: block;
    list-style: none;
    width: 214px;
    height: 73px;
    text-align: center;
    line-height: 73px;
}
.zhongjian .zhongjian_c .content_l li a{
    display: inline-block;
    width:100%;
    height: 100%;

}
.zhongjian .zhongjian_c .content_l li a:hover {
    color: #fff;
    background-color: green;
}



/*顶部居中的图片*/
.box1{
    margin:0 auto;
    width:100%;
    text-align: center;
    overflow: hidden;
}
.img1 {
    margin:0 -100%;
}



/*=============食堂承包那块右边的文字============*/
.content_2{
    width: 524px;
    height: 700px;
    margin:0 auto;
    background: url("../images/me_erweima.jpg") no-repeat;
}
.content_2:hover{
    background: url("../images/me.JPG") no-repeat;

}



